<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test guru</title>
</head>
<body>
  <h1>Вопрос с <%= params[:id] %>-м ID у <%= params[:test_id] %>-го теста гласит:</h1>
  <!-- <%= @question.first.body unless @question.count.zero? %> -->
  <%= @question.first.body  %>
</body>
</html>
