<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1>Вопрос с ID <%= params[:id] %> у <%= params[:test_id] %>-го теста гласит:</h1>
  <%= @question.first.body %>
</body>
</html>
